__pycache__/
*.py[cod]
*.lib
*.exp
*.ilk
*.pdb
*.ipdb
*.iobj
build/
dist/
pysim.egg-info/
pysim/simulation.cpp
pysim/cppsystem.cpp
pysim/systems/defaultsystemcollection1/defaultsystemcollection1.cpp
*.so
