name: Tests

on:
  push:
    branches: 
      - master
      - 'release/**'
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 10 * * 2,5'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:  # https://github.com/actions/python-versions/releases
        python-version: ['3.12', '3.13']
        os: ['macos-latest', 'ubuntu-latest', 'windows-latest']
    name: Python ${{ matrix.python-version }} test on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Install Python dependencies
        run: | 
          pip install wheel
          # Use setuptools<60.0 until aldebjer/pysim#45 is fixed.
          pip install -r ./requirements.txt 'setuptools<60.0'
          pip3 install meson
          pip3 install ninja

      - name: Install C++ dependencies on macOS and build
        if: runner.os == 'macOS'
        run: | 
          brew install eigen
          brew install boost
          meson setup build --prefix=$PWD/build-install
          meson compile -C build
          meson install -C build
          export PYTHONPATH=$PWD/build-install/lib/python${{ matrix.python-version }}/site-packages/

      - name: Install C++ dependencies on Linux and build
        if: runner.os == 'Linux'
        run: | 
          sudo apt-get install libeigen3-dev
          sudo apt-get install -y libboost-all-dev
          meson setup build --prefix=$PWD/build-install
          meson compile -C build
          meson install -C build
          export PYTHONPATH=$PWD/build-install/lib/python${{ matrix.python-version }}/site-packages/

      - name: Download Boost headers for windows
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          curl -L https://archives.boost.io/release/1.90.0/source/boost_1_90_0.zip -o boost.zip
          Expand-Archive boost.zip -DestinationPath C:\
          Rename-Item C:\boost_1_90_0 C:\boost
          $env:BOOST_ROOT="C:\boost"
          

      - name: Install C++ dependencies on Windows and build
        if: runner.os == 'Windows'
        run: | 
          meson setup build --prefix=$PWD/build-install --buildtype=release
          meson compile -C build
          meson install -C build
          Env:PYTHONPATH=$PWD/build-install/Lib/site-packages/
        shell: powershell          

      - name: Run Tests
        run: | 
          cd build-install
          pytest
        
